.cartContainer {
  border-radius: 4px;
  margin: 0.5rem;
  width: 10rem;
  margin-top: 30px;
  margin-left: 1rem;
}

.CartBoxDesign {
  padding: 0.5rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 8px;
}

.imageContainer {
  max-height: 100px;
  max-width: 100px;
}

.checkOutBtn {
  text-transform: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.cartFooter {
  height: 50px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-top: 10rem;
  min-height: 60vh;
}

@media (max-width: 700px) {
  .cartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    margin: 0.5rem;
    width: 10rem;
    margin-top: 30px;
    margin-left: 1rem;
    flex-wrap: wrap;
  }

  .checkOutBtn {
    text-transform: none;
    font-weight: 700;
    font-size: 1.1rem;
    height: 40px;
  }
}
