.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  border-radius: 8px;
}

.cardButton {
  text-transform: none;
  font-weight: 600;
  width: 100%;
  background-color: #489f7b;
}

.cardActions {
  margin-bottom: 1rem;
}

.name {
  font-size: 18px;
  margin-top: -2px;
  margin-bottom: -10px;
}

.price {
  font-size: 16px;
}

.imgContainer {
  padding: 2px;
}
